name: pipeline

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  ci-security:
    uses: ./.github/workflows/ci-security.yml
    with:
      node_version: '20'
      run_zap: true
      port: '5005'
      health_path: '/healthz'

  build:
    if: github.event_name == 'push'
    needs: ci-security
    uses: ./.github/workflows/build-dockerhub.yml
    with:
      context: .
      dockerfile: Dockerfile
      push_latest: true
    secrets:
      dockerhub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub_token: ${{ secrets.DOCKERHUB_TOKEN }}

  deploy:
    if: github.event_name == 'push'
    needs: build
    uses: ./.github/workflows/deploy-eks-bluegreen.yml
    with:
      aws_region: us-east-1
      eks_cluster: desafio-devsecops
      namespace: app
      app_name: desafio-devsecops
      service_name: desafio-devsecops-svc
      image: ${{ needs.build.outputs.image_sha }}
      port: '5005'
      health_path: '/healthz'
      replicas: 2
      alb_scheme: internet-facing
    secrets:
      aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
